---
import type { GetStaticPaths } from "astro";
import type { PokemonListResponse } from "../../interfaces/pokemon-list.response";
import { Icon } from 'astro-icon/components';

import MainLayout from "../../layouts/MainLayout.astro";
import PokemonCard from '../../components/PokemonCard.astro';
import Title from '../../components/shared/Title.astro'

import "../../styles/global.css"

export const getStaticPaths = (async() => {
    const resp = await fetch('https://pokeapi.co/api/v2/pokemon?limit=151');
    const {results} = await resp.json() as PokemonListResponse;

    return results.map( ({name, url}) => ({
        params: { name},
        props: { name, url },
    }));
}) satisfies GetStaticPaths;

const { name } = Astro.params;
const { url } = Astro.props;

const id = url.split('/').at(-2);
const audioSrc = `https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/${id}.ogg`;
---

<MainLayout title=`Pokemon - #${id} ${name}`>
    <section class="mt-10 mx-10, flex flex-col justify-center items-center">
        <div>
            <div>
                <button 
                onclick="window.history.back()"
                class="text-blue-500">Return</button>
                <div class="flex flex-row justify-center">
                    <Title>
                        {name}
                    </Title>
                    <button id="btn-favorite" class="ml-4" data-name={name} data-id={id}>
                        <Icon data-empty name="heart-empty" size={50}/>
                        <Icon data-full class="hidden" name="heart-full" size={50}/>
                    </button>
                </div>
                <!-- <h1 class="text-5xl capitalize">{name}</h1> -->     
            </div>
            <PokemonCard name={name} url={url} isBig/>
            <audio controls class="mt-5">
                <source src={audioSrc} type="audio/ogg"/>
                Your browser does not support audio element.
            </audio>
        </div>
        
    </section>
    <h1 class="text-3xl">{name}</h1>
</MainLayout>

<script>
interface FavoritePokemnon {
    name: string;
    id: number;
}

document.addEventListener('astro:page-load', () => {
    console.log("poke");
});

document.addEventListener('astro:page-load', () => {
    let favoritePokemons: FavoritePokemnon[] = JSON.parse(localStorage.getItem("favorites") ?? '[]');
    const btnFavorite = document.querySelector('#btn-favorite') as
    HTMLButtonElement;

    if (!btnFavorite) return;

    const name = btnFavorite.dataset.name ?? '';
    const id = btnFavorite.dataset.id ?? '';

    const heartEmpty = btnFavorite.querySelector('[data-empty]') as HTMLElement;
    const heartFull = btnFavorite.querySelector('[data-full]') as HTMLElement;

    const isFavorite = favoritePokemons.some(fav => fav.name === btnFavorite.dataset.name);

    if (isFavorite) {
        heartEmpty.classList.toggle('hidden');
        heartFull.classList.toggle('hidden');
    }

    const toggleFavorite = () => {
        const isFavorite = favoritePokemons.some(fav => fav.name === name);
        
        if (isFavorite) {
            favoritePokemons = favoritePokemons.filter ( fav => fav.name !== name);

        } else {
            favoritePokemons.push({
                id: +id, name: name})
        }
        localStorage.setItem('favorites', JSON.stringify(favoritePokemons));
    }

    btnFavorite.addEventListener('click', () => {
        heartEmpty.classList.toggle('hidden');
        heartFull.classList.toggle('hidden');
        toggleFavorite();
        console.log({ name, id });
});

})
</script>

<style>
a {
    @apply hover:underline;
}

#btn-favorite {
    /* @apply: hover:animate-pulse; */
}
</style>